@charset "utf-8";
/* CSS Document */

.grad1 {
    background: #e6368b; /* Old browsers */
    background: -moz-linear-gradient(top, #e6368b 1%, #56c3f0 100%); /* Old Firefox */
    background: -webkit-linear-gradient(top, #e6368b 1%,#56c3f0 100%); /* Old Chrome & Old Safari*/
    background: linear-gradient(to bottom, #e6368b 1%,#56c3f0 100%); /* Newer Browsers */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6368b', endColorstr='#56c3f0',GradientType=0 ); /* IE */
    }

.grad2 {
    background: #56c3f0; /* Old browsers */
    background: -moz-linear-gradient(top, #56c3f0 1%, #AAC928 100%); /* Old Firefox */
    background: -webkit-linear-gradient(top, #56c3f0 1%,#AAC928 100%); /* Old Chrome & Old Safari*/
    background: linear-gradient(to bottom, #56c3f0 1%,#AAC928 100%); /* Newer Browsers */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56c3f0', endColorstr='#AAC928',GradientType=0 ); /* IE */
    }

#topContainer {
    background-color: #e6368b; 
    height: 500px; 
    margin-top: 80px;
}

#descriptionContainer {
    background-color: #56c3f0; 
    height: 500px;
}

#featuresContainer {
    background-color: #AAC928; 
    height: 500px;
}

#downloadContainer {
    background-color: #F2E426; 
    height: 500px;
}

