@charset "utf-8";
/* CSS Document */


.grad1 {
    background: #aac928; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #aac928 0%, #56c3f0 67%, #56c3f0 100%); /* Old Firefox */
    background: -webkit-linear-gradient(-45deg, #aac928 0%,#56c3f0 67%,#56c3f0 100%); /* Old Chrome & Old Safari*/
    background: linear-gradient(135deg, #aac928 0%,#56c3f0 67%,#56c3f0 100%); /* Newer Browsers */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aac928', endColorstr='#56c3f0',GradientType=1 ); /* IE */
    }

.grad2 {
    background: #56c3f0; /* Old browsers */
    background: -moz-linear-gradient(top, #56c3f0 1%, #AAC928 100%); /* Old Firefox */
    background: -webkit-linear-gradient(top, #56c3f0 1%,#AAC928 100%); /* Old Chrome & Old Safari*/
    background: linear-gradient(to bottom, #56c3f0 1%,#AAC928 100%); /* Newer Browsers */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56c3f0', endColorstr='#AAC928',GradientType=0 ); /* IE */
    }

#topContainer {
    padding-top:20px;
    padding-bottom: 20px;
}

#descriptionContainer {
    background-color: #fff; 
    height: 100px;
}

#featuresContainer {
    background-color: #AAC928; 
    height: 500px;
}

#downloadContainer {
    background-color: #F2E426; 
    height: 500px;
}

.navbar {
    background-color: rgba(255,255,255,1);
}

#topheroimg {

}

#callButton {
    display: block;
    margin: 40px auto auto auto;
}

#heroText {
}

h1 {
    color: white;
}

#alert-container {
    padding-top: 5px;
    color: red;
    text-align: center;
    width: 100%;
    margin-top: 80px;
    background-color: black;
    
}

#invalidEmail {
    
}

#invalidPassword {
    
}

#invalidLogin {
    display: none;
}