@charset "utf-8";
/* CSS Document */


.grad1 {
    opacity: 20%;
    background: #F4FFC6; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #F4FFC6 0%, #D8F1FB 67%, #D8F1FB 100%); /* Old Firefox */
    background: -webkit-linear-gradient(-45deg, #F4FFC6 0%,#D8F1FB 67%,#D8F1FB 100%); /* Old Chrome & Old Safari*/
    background: linear-gradient(135deg, #F4FFC6 0%,#D8F1FB 67%,#D8F1FB 100%); /* Newer Browsers */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F4FFC6', endColorstr='#D8F1FB',GradientType=1 ); /* IE */
    }

.grad2 {
    background: #56c3f0; /* Old browsers */
    background: -moz-linear-gradient(top, #56c3f0 1%, #AAC928 100%); /* Old Firefox */
    background: -webkit-linear-gradient(top, #56c3f0 1%,#AAC928 100%); /* Old Chrome & Old Safari*/
    background: linear-gradient(to bottom, #56c3f0 1%,#AAC928 100%); /* Newer Browsers */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56c3f0', endColorstr='#AAC928',GradientType=0 ); /* IE */
    }

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #E6368B;
}

.btn-primary {
    background-color: #56C3F0;
    border: none;
}

.btn-secondary {
    background-color: #922281;
    border: none;
}

a {
    color: #E6368B;
}

#navContainer {
    position: fixed;
    clear: both;
}

#topContainer {
    padding-top:160px;
    padding-bottom: 180px;
}

#featuresContainer {
    background-color: #fff; 
}

#downloadContainer {
    background-color: #F2E426; 
    padding: 100px 0px;
}

#footerContainer {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

#callButton {
    display: block;
    margin: 40px auto auto auto;
}

h1 {
    color: #922281;
    padding-bottom: 20px;
}

h1, h3 {
    font-family: "Nova Flat", Helvetica, Arial, "sans-serif";
    text-transform: uppercase;
}

.navbar {
    background-color: rgba(255,255,255,0.95);
    padding-top: 20px;
}

#alert-container {
    padding: 5px;
    color: red;
    text-align: center;
    width: 100%;
    background-color: white;
    
}

body {
    margin: 0px;
}

.card {
    width: 18rem;
    border: none;
    border-radius: 20px;
    padding: 20px;
}

.purpleCard {
    color: white;
    background-color: #922281;
    text-align: center;
    border-radius: 20px;
    padding: 0px 40px 40px 40px;
}

.pinkCard {
    color: white;
    background-color: #E6368B;
}

.yellowCard {
    color: white;
    background-color: #F2E426;
}

.iconContainer {
    padding: 40px;
}

.fas, .far {
    font-size: 75px;
}

.card-text {
    margin-top: 30px;
}

.dlBadge {
    width: 320px;
}

#footer-logo {
    width: 30%;
}