#bg-img {
    z-index: -2;
    position: relative;
    margin: -100px auto;
    width: 1380px;
}

body {
    
    padding-top: 100px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    background-color: #CEB7BD;
    overflow:hidden;
}

#card-box {
    z-index: 1;
    position: relative;
    margin: -650px auto;
    width: 700px;
    height: 550px;
    border: 12px double #FCD3E6;
    background-color: #F8FBFA;
    padding: 30px;
    border-radius: 50px;
}

#rsvp-edge {
    transform: rotate(270deg);
    position: absolute;
    left: -125px;
    top: 275px;
    padding: 10px 0;
    background-color: #FCD3E6;
    color: #F7789C;
    width: 200px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

#map-edge {
    transform: rotate(270deg);
    position: absolute;
    left: 685px;
    top: 275px;
    padding: 10px 0;
    background-color: #FCD3E6;
    color: #F7789C;
    width: 200px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

#invitation-edge {
    position: absolute;
    left: 280px;
    top: -50px;
    padding: 10px 0;
    background-color: #FCD3E6;
    color: #F7789C;
    width: 200px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

p, input, button {
    font-family: 'Oswald', sans-serif;
}

a {
    color: #624397;
}

.script {
    font-family: 'Petit Formal Script', cursive;
    font-size: 25px;
    color: #9EC4DF;
}

.small-text {
    text-transform: uppercase;
    font-size: 12pt;
}

.contact {
    text-transform: uppercase;
    font-size: 9pt;
}

#line1 {
    margin-bottom: -20px;
}

#line2 {
    margin-top: -170px;
}

.names {
    font-size: 40px;
    line-height: 35px;
}

#first {   
    position: absolute;
    top: 65px;
    left: 180px;
    z-index: 1;
    text-align: right;
    color: #F7789C;
}

#amp {
    position: relative;
    top:-30px;
    font-size: 140px;
    color: #CDA4CD;
    text-align: center;
}

#second {
    position: relative;
    top: -165px;
    left: 350px;
    z-index: 1;    
    text-align: left;
    vertical-align: middle;
    color: #F7789C;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
    border-radius: 10px;
    border: 0px;
    color: white;
    background-color: #F7789C;
}

button a {
    color: white;
    text-decoration: none;
}

#txt-password {
    width: 200px;
    padding: 10px;
    text-align: center;
}

#inv-password {
    padding: 10px;
    width: 200px;
    text-align: center;
}

#hint {
    margin-top: 50px;
    font-size: 0.8em;
    font-family: 'Oswald', sans-serif;
}

#login-error {
    font-size: 0.8em;
    color: #F7789C;
}

#password-body {
    margin-top:150px;
}

#invitation-body {
    display: none;
}

#rsvp-body {
    display: none;
}

#rsvp-confirmation {
    display: none;
}

#map-body {
    display: none;
}

.countdown-section {
    margin-bottom: 10px;
}

.countdown-block {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    height: 100px;
}

.time-block {
    display: inline-block;
    vertical-align: middle;
    width: 90px;
    height: 100px;
    border: 1px solid white;
    margin: 0px 3px;
}

.countdown-text {
    position: relative;
    top: 30px;
    text-transform: uppercase;
    color: #F7789C;
}

#countdown-text-left {
    text-align: right;
    margin-right: 10px;
}

#countdown-text-right {
    text-align: left;
    margin-left: 10px;
}

.time {
    text-align: center;
    margin: 10px 10px 5px 10px;
    padding-bottom: 18px;
    height: 40px;
    background-color: #9EC4DF;
    color: white;
    font-size: 40px;
}

.time-label {
    text-transform: uppercase;
    font-size: 0.8em;
}

#rsvp-form {
    margin: 20px;
    padding: 10px;
    border: 2px solid white;
}

.guest {
    display: inline-block;
    margin-bottom: 5px;
}

.guest-name {
    height: 16px;
    width: 250px;
    padding: 5px;
}

#formError {
    font-size: 0.8em;
    color: #F7789C;
    visibility: hidden;
}

select {
    height: 30px;
}

option {
    text-align: center;
}

.default-select {
    color: gray;
}

iframe {
    border: 3px solid silver;
}